# IDE
.vscode/
.idea/

# Gradle
.gradle/
build/
app/build/

# Android
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# OS
**/.DS_Store
.SynologyWorkingDirectory

# Local instructions
AGENTS.md

# Build outputs
app/developer/release/

sign

# 签名与发布 (不要提交私钥!)
/sign/
app/release/
app/developer/
*.apk
