/.nyc_output
/coverage
/node_modules
/sign
.husky/
build/
dist/
*.rpk
**/.DS_Store

# Claude Code
CLAUDE.md
.claude/

# 参考资料
/varclass
/vela-quickapp-docs

# Android
android/*.iml
android/.gradle
android/local.properties
android/.idea/caches
android/.idea/libraries
android/.idea/modules.xml
android/.idea/workspace.xml
android/.idea/navEditor.xml
android/.idea/assetWizardSettings.xml
android/.idea/shelf/
android/.idea/workspace.xml
android/build
android/app/build
android/captures
android/.externalNativeBuild
android/.cxx