# IDE
.vscode/
.idea/

# Gradle
.gradle/
build/
app/build/

# Android
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# OS
**/.DS_Store
.SynologyWorkingDirectory

# Local instructions
AGENTS.md

# Build outputs
app/developer/release/

sign
